@charset "UTF-8";
/* Colores */
.verde {
  background-color: #6bba49;
  border: 2px solid #6bba49;
}

.verdeClaro {
  background-color: #c7e3ba;
  border: 2px solid #c7e3ba;
}

.rosa {
  background-color: #FDAFC2;
  border: 2px solid #FDAFC2;
}

.naranja {
  background-color: #FF914D;
  border: 2px solid #FF914D;
}

.celeste {
  background-color: #7bbfbf;
  border: 2px solid #7bbfbf;
}

.blanco {
  background-color: white;
  border: 2px solid white;
}

.claro {
  background-color: #f3f5f1;
  border: 2px solid #f3f5f1;
}

.verdeMuyClaro {
  background-color: #eaf6de;
  border: 2px solid #eaf6de;
}

.celesteMuyClaro {
  background-color: #d8eded;
  border: 2px solid #d8eded;
}

.negroClaro {
  background-color: #222b2b;
  border: 2px solid #222b2b;
}

.letra_verde {
  color: #6bba49;
}

.letra_verdeClaro {
  color: #c7e3ba;
}

.letra_rosa {
  color: #FDAFC2;
}

.letra_naranja {
  color: #FF914D;
}

.letra_celeste {
  color: #7bbfbf;
}

.letra_blanco {
  color: white;
}

.letra_claro {
  color: #f3f5f1;
}

.letra_verdeMuyClaro {
  color: #eaf6de;
}

.letra_celesteMuyClaro {
  color: #d8eded;
}

.letra_negroClaro {
  color: #222b2b;
}

/* Letras */
.destacado1 {
  text-align: center;
  font-family: "Oleo Script", cursive;
  color: #FF914D;
}

.destacado2 {
  text-align: center;
  font-family: "Oleo Script", cursive;
  color: #FDAFC2;
}

.separaSeccNegra {
  font-family: "Mulish", sans-serif;
  color: #222b2b;
}

.separaSecc, .separaSecc2 {
  font-family: "Mulish", sans-serif;
  color: white;
}

.separaSeccVerde {
  font-family: "Mulish", sans-serif;
  color: #6bba49;
}

.separaSeccVerde {
  font-family: "Mulish", sans-serif;
  color: #6bba49;
}

.separaSecc3Negra {
  font-family: "Mulish", sans-serif;
  color: #222b2b;
}

.apartLetra {
  font-family: "Karla", sans-serif;
  color: #222b2b;
}

.input input {
  font-family: "Karla", sans-serif;
  color: #222b2b;
}

.botones a {
  font-family: "Karla", sans-serif;
  color: #f3f5f1;
}

.botones {
  font-family: "Karla", sans-serif;
  color: #f3f5f1;
}

.pie {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #222b2b;
}
.pie a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #222b2b;
}
.pie a:hover {
  color: #7bbfbf;
}

/* Responsive */
/* Mobile */
@media (max-width: 700px) {
  .imgLogoGrande {
    display: none;
  }
  div.copyright {
    display: none;
  }
  .headerHeight {
    height: 80px;
  }
  #mod_der, #mod_izq {
    width: 100%;
    /* padding: 20px; */
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #contacto > form > div {
    width: 60%;
  }
  .destacado2 {
    font-size: 25pt;
  }
  .destacado1 {
    font-size: 30pt;
  }
  .botones a {
    font-size: 9pt;
  }
  .separaSecc, .separaSecc2 {
    font-size: 15pt;
  }
  .separaSecc2 {
    font-size: 12pt;
  }
  .separaSeccVerde {
    font-size: 15pt;
  }
  .separaSecc3Negra {
    font-size: 11pt;
  }
  .input input {
    font-size: 9pt;
  }
  .pie {
    font-size: 9pt;
  }
  .apartLetra {
    font-size: 10pt;
  }
}
/* Tablet */
@media (min-width: 701px) and (max-width: 1200px) {
  .imgLogoChica {
    display: none;
  }
  .headerHeight {
    height: 80px;
  }
  #mod_der, #mod_izq {
    width: 45%;
    padding: 1%;
    margin: 3%;
  }
  #contacto > form > div {
    width: 40%;
  }
  .destacado2 {
    font-size: 32.5pt;
  }
  .destacado1 {
    font-size: 39pt;
  }
  .botones a {
    font-size: 11.7pt;
  }
  .separaSecc, .separaSecc2 {
    font-size: 19.5pt;
  }
  .separaSecc2 {
    font-size: 15.6pt;
  }
  .separaSeccVerde {
    font-size: 19.5pt;
  }
  .separaSecc3Negra {
    font-size: 14.3pt;
  }
  .input input {
    font-size: 11.7pt;
  }
  .pie {
    font-size: 11.7pt;
  }
  .apartLetra {
    font-size: 13pt;
  }
}
/* Computadora grande */
@media (min-width: 1201px) {
  .imgLogoChica {
    display: none;
  }
  .headerHeight {
    height: 80px;
  }
  #mod_der, #mod_izq {
    width: 45%;
    padding: 1%;
    margin: 5%;
  }
  #contacto > form > div {
    width: 40%;
  }
  .destacado2 {
    font-size: 35pt;
  }
  .destacado1 {
    font-size: 42pt;
  }
  .botones a {
    font-size: 12.6pt;
  }
  .separaSecc, .separaSecc2 {
    font-size: 21pt;
  }
  .separaSecc2 {
    font-size: 16.8pt;
  }
  .separaSeccVerde {
    font-size: 21pt;
  }
  .separaSecc3Negra {
    font-size: 15.4pt;
  }
  .input input {
    font-size: 12.6pt;
  }
  .pie {
    font-size: 12.6pt;
  }
  .apartLetra {
    font-size: 14pt;
  }
}
/* Estructura */
/* Grid */
.gridHeader {
  grid-area: encabezado;
}

.gridFooter {
  grid-area: pie;
}

.gridBody, .gridBodyContacto, .gridBodyInfo, .gridBodyValidar, .gridBodyGuia, .gridBodyInicio {
  display: grid;
  width: 100%;
  height: 100vh;
}

/* Index */
.gridBodyInicio {
  grid-template-areas: "encabezado  " "principal  " "seccion " "carruselValidar" "carruselGuia" "pie ";
  grid-template-columns: 1fr;
}
.gridBodyInicio .gridMain {
  grid-area: principal;
}
.gridBodyInicio .gridSection {
  grid-area: seccion;
}
.gridBodyInicio .gridCarrouselValidar {
  grid-area: carruselValidar;
}
.gridBodyInicio .gridCarrouselGuia {
  grid-area: carruselGuia;
}
.gridBodyInicio .gridSponsors {
  grid-area: sponsors;
}

/* Guía */
.gridBodyGuia {
  grid-template-areas: "encabezado  encabezado" "mainGuia mainGuia " "seccLugares seccLugares" "pie pie";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 2fr auto;
}
.gridBodyGuia .gridMainGuia {
  grid-area: mainGuia;
}
.gridBodyGuia .gridSectionLugares {
  grid-area: seccLugares;
}

/* Validar */
.gridBodyValidar {
  grid-template-areas: "encabezado " "mainValidar " "formulario" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 3fr auto;
}
.gridBodyValidar .gridMainValidar {
  grid-area: mainValidar;
}
.gridBodyValidar .gridCompletar {
  grid-area: formulario;
}

/* +Info */
.gridBodyInfo {
  grid-template-areas: "encabezado " "mainInfo " "info" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 2fr auto;
}
.gridBodyInfo .gridMainInfo {
  grid-area: mainInfo;
}
.gridBodyInfo .gridFullInfo {
  grid-area: info;
}

/* Contacto */
.gridBodyContacto {
  grid-template-areas: "encabezado " "mainContacto " "contacto" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 2fr auto;
}
.gridBodyContacto .gridMainContacto {
  grid-area: mainContacto;
}
.gridBodyContacto .gridContacto {
  grid-area: contacto;
}

/* Estructura interna */
.pie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/* Index */
#main .inicio {
  display: flex;
}
#main video {
  width: 100%;
  height: auto;
  text-align: center;
}

/* .imgAbajo {
    position: sticky;
    width:10%;
    height:100%;
} */
/* .cambioSecc{
    width:10%;
    height:100%;
    //display: inline;
    //position: fixed;
    z-index : 10000;
     */
#mandarAtras {
  z-index: -1;
}

#mod_der, #mod_izq {
  margin: 10%;
  text-align: center;
  display: inline;
}

#mod_izq {
  border: 0;
}

#mod_der .contengoBotones {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#mod_der .contengoBotones a {
  width: 15%;
  padding: 0.5%;
}

.comics {
  margin: 2%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.comics > div {
  padding: 3%;
  border: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80%;
}
.comics > div > div {
  margin: 2%;
  width: 80%;
}

/* Contacto */
#contacto {
  margin-top: 10px;
}
#contacto form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.input .final {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  text-align: center;
}
.input .final .boton {
  width: auto;
  text-align: center;
}
.input .final label {
  display: inline;
}

/* Validar */
#infoValid form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#infoValid div.checkGrande {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Guía de lugares */
#main .filtros ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#listadoLugares > ul {
  display: flex;
  z-index: 1000;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: space-around;
}
#listadoLugares li.itemGuia > div {
  display: flex;
  z-index: 1000;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
#listadoLugares li.itemGuia > div .dataValid, #listadoLugares li.itemGuia > div .lugar {
  width: 50%;
}
#listadoLugares li.itemGuia input {
  position: relative;
  bottom: 0%;
  left: 0;
}

/* Diseño */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.justify {
  text-align: justify;
}

a.link {
  text-decoration: none;
}

a.link :hover {
  color: #7bbfbf;
}

.hoverBoton {
  border: 3px solid rgba(255, 255, 255, 0);
  text-decoration: none;
}
.hoverBoton:hover {
  border: 3px solid rgba(255, 255, 255, 0.484);
}

.relleno {
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
}

.redondo {
  border-radius: 5px;
}

.fondoCielo {
  background-image: url(../images/cielo-con-nubes_5102x3567_xtrafondos.com.jpg);
  /* background-repeat: no-repeat;
  background-size:cover; */
}

.botones a {
  display: inline-block;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  /* margin-top: 30px; */
  margin: 2% 35%;
  text-decoration: none;
}

.pie {
  background-color: rgb(247, 247, 247);
  padding: 10px;
}
.pie .logo img {
  width: auto;
  height: 50px;
}

/* Contacto y Validar */
/* Guía de lugares */
#main nav.filtros {
  width: 60%;
  margin: 1% 20%;
  text-align: left;
  background-color: #7bbfbf;
}
#main nav.filtros ul {
  padding: 0%;
}
#main nav.filtros li.filtra {
  width: auto;
  height: auto;
  text-align: center;
}
#main nav.filtros li.buscar {
  margin: 1% 5%;
  height: auto;
  text-align: center;
}

#listadoLugares ul {
  margin: 5%;
  text-align: center;
  padding: 0;
}
#listadoLugares li.itemGuia {
  padding: 1%;
  margin: 1%;
  height: 350px;
  width: 500px;
  background-color: #f3f5f1;
}
#listadoLugares li.itemGuia:hover {
  background-color: #eaf6de;
}

.dataValid li {
  margin: 10px;
  text-align: left;
}
.dataValid input {
  position: relative;
  bottom: 0;
}

.lugar {
  margin: 10px;
}
.lugar iframe {
  width: 100%;
  height: 100%;
}

/* Información */
article {
  width: 100%;
  margin: 1%;
}
article:nth-child(n) {
  margin-top: 0.5%;
}

section.info {
  width: 80%;
  margin: 2% 10%;
  padding: 1%;
  /* background-color: map-get($map: $colores, $key:verdeMuyClaro );  */
}
section.info a {
  text-decoration: none;
}
section.info a :hover {
  color: #7bbfbf;
}

/* Animaciones */
/* @keyframes anima-input {
    50%{
        background-color: rgba(188, 233, 250, 0.479);
    }
    100%{
        background-color: rgb(188, 233, 250);
    }
} */
/* Formularios */
.input {
  padding: 15px;
  text-align: center;
  align-content: center;
}
.input input {
  /* font-family: 'Karla', sans-serif;
  font-weight: 100; */
  padding: 10px;
  margin: 10px;
  display: inline;
  width: 90%;
  position: relative;
  text-align: left;
}
.input input[type=text]:not(.boton), .input input[type=pass]:not(.boton), .input input[type=date]:not(.boton) {
  transition: all 1s;
  /* &:not(:placeholder-shown){
      background-color: rgb(192, 226, 192);
  } */
}
.input input[type=text]:not(.boton):focus, .input input[type=pass]:not(.boton):focus, .input input[type=date]:not(.boton):focus {
  background-color: rgb(188, 233, 250);
}
.input label {
  display: block;
}
.input select {
  color: rgb(48, 53, 55);
  padding: 10px;
  margin: 10px;
  display: inline;
  width: 90%;
  position: relative;
  transition: all 0.5s;
}
.input select:focus {
  background-color: rgb(188, 233, 250);
}
.input textarea {
  padding: 10px;
  margin: 10px;
  width: 90%;
  color: rgb(48, 53, 55);
  transition: all 1s;
  /* &:not(:placeholder-shown){
      background-color: rgb(192, 226, 192);
  } */
}
.input textarea:focus {
  background-color: rgb(188, 233, 250);
}
.input .check {
  display: inline;
  width: 10%;
}

.checkGrande:nth-child(n) {
  display: inline;
  margin: 0;
}/*# sourceMappingURL=main.css.map */